# ShopMart Client Environment Configuration Template
# Duplicate this file as '.env' and fill in correct values

# Client dev server configurations
VITE_PORT=5173
VITE_HOST=true

# Sandbox APIs
VITE_DUMMYJSON_URL=https://dummyjson.com

# Stripe Sandbox Public Key (e.g. pk_test_...)
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51Mtg4sLkdIwHu7ix1qYr7zZtMockCardKeyForDevelopment9928371

# Google Client OAuth Client IDs (Mock)
VITE_GOOGLE_CLIENT_ID=mock-google-client-id-12345.apps.googleusercontent.com
VITE_GITHUB_CLIENT_ID=mock-github-client-id-54321
